<style>
.laman{
background-color:	#F8F8F8;

}
.card1
 .item{
  background: #13E39A;

}

.card2
 .item{
  background: white;
}

.title{
color:#fff;

}

</style>

<ion-view view-title="Home">
	<ion-content>
		<div class="item item-image">
			<img src="img/banner2.jpg">

		</div>
<div class="laman">
<br>



</div>


<div class="row">
<div class="col col-50">
	<div class="card2">
		<div class="item item-text-wrap"><center><a class="icon ion-android-add padding" href="#/app/additem" style="font-size:100px;  color:#13E39A"></a></center>
			<center><h2 style="color:#13E39A; font-size:20px;">Add Items</h2>			</center>
	  </div>
	</div>
</div>

<div class="col col-50">
	<div class="card1">
		<div class="item item-text-wrap"><center><a class="icon ion-android-list padding" href="#/app/additem2" style="font-size:100px;  color:#fff;"></a></center>
			<center><h2 style="color:#fff; font-size:20px;">To Do's</h2>			</center>
	  </div>
	</div>
</div>

</div>

</div>
<br>
	</ion-content>
</ion-view>
