<style>
.scroll-bg{
 background: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;


    }

    .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
</style>


<ion-view class="scroll-bg">
  <ion-content>

  <br>
<img src="img/logo.png" class="center" style="width:200px; height:auto; padding-top:30px;">
<br>
<br>
<br>
<center>
<div class="row responsive-sm responsive-md responsive-lg responsive-xl">
<a class="button button-light button-block center" href="#/app/home"  style="border-radius:50px; width:280px; ">START</a>
</center>
</div>
</center>
<br>
<br>



</ion-view>
  <ion-content>
