<ion-view view-title="Playlist">
  <ion-content>
    <div class="card">
      <div class="item item-avatar">
        <img src="img/ionic.png">
        <h2>Closer</h2>
      </div>
      
      <div class="item item-body">
        <img class="full-image padding" src="img/ionic.png" width="5%" height="5%">
        
        <center>
          <button class="button button-assertive icon ion-loop"></button>
          <button class="button button-stable icon ion-skip-backward"></button>
          <button class="button button-stable icon ion-pause"></button>
          <button class="button button-stable icon ion-skip-forward"></button>
          <button class="button button-stable icon ion-shuffle"></button>
        </center>
      </div>
    </div>
  </ion-content>
</ion-view>